@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-700.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-800.woff2') format('woff2');
  }
:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    font-family: 'Inter', sans-serif;
}
body {
  margin: 1rem;
  font-size: 0.9375rem;
}
header {
  margin-block: 1.78125rem 1.96875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 2.875rem;
  height: 1.76875rem;
}
.menu {
  width: 2.5rem;
  height: 1.0625rem;
  cursor: pointer;
}
nav, .menu-close {
  display: none;
}

.hero-img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.hero {
  min-height: 100vh;
  min-height: 100svh;
}
.hero-header {
  padding-block: 1.3rem .9rem;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1;
}
.hero-text {
  line-height: 1.75;
}
.hero-cta {
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 5.5px;
  color: white;
  background: var(--soft-red);
  border: none;
  cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--dark-grayish-blue);
}
.attribution a {
    color: var(--very-dark-blue);
}
