@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-700.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-800.woff2') format('woff2');
  }
:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
body {
  margin: 1rem;
  font-size: .9375rem;
  overflow-x: hidden;
}
.logo {
  /* width: 4.0625rem; */
  height: 2.84375rem;
  aspect-ratio: 1;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
  border: none;
}
.nav-bar {
  display: flex;
}
.nav-bar a {
  text-decoration: none;
}
.mobile-nav-toggle {
  display: none;
}

@media screen and (max-width: 37.5em) {
  .header {
    margin-block: 1.25rem 1.4375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  .nav-bar {
    position: fixed;
    inset: 0 0 0 32%;
    flex-direction: column;
    background: white;
    padding-top: min(30vh, 9.0625rem);
    padding-left: 1.5rem;
    gap: 1.5625rem;
    z-index: 99;
    transform: translateX(100%);
    transition: transform .35s ease-out;
  }
  .nav-bar[data-visible="true"] {
    transform: translateX(0%);
  }
  .nav-bar a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.125rem;
    color: var(--very-dark-blue);
  }
  .mobile-nav-toggle {
    display: block;
    background-color: transparent;
    background-image: url(../images/icon-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    width: 2.5625rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 100;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(../images/icon-menu-close.svg);
    background-repeat: no-repeat;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    min-height: 100vh;
    min-height: 100svh;
    background: rgba(0, 0, 0, .5);
    z-index: 98;
  }
  .hero-img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  main {
    min-height: 100vh;
    min-height: 100svh;
  }
  .hero-header {
    padding-block: 1.3rem .9125rem;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1;
  }
  .hero-text {
    line-height: 1.75;
    color: var(--dark-grayish-blue);
  }
  .hero-cta {
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    font-family: 'Inter';
    font-size: .85rem;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    font-weight: 700;
    color: white;
    background: var(--soft-red);
    border: none;
    cursor: pointer;
  }
  .news {
    background: var(--very-dark-blue);
    margin-top: 4rem;
    padding: 1.325rem;
  }
  .news-header {
    color: var(--soft-orange);
    font-size: 2rem;
  }
  .news-article {
    padding-top: 1.9375rem;
    border-bottom:1px solid var(--dark-grayish-blue);
  }
  .news-article:last-of-type {
    border-bottom: none;
  }
  .news-article a {
    font-size: 1.05rem;
    letter-spacing: .325px;
    color: var(--off-white);
    text-decoration: none;
  }
  .news-article p {
    padding-block: .45rem 1.8rem;
    line-height: 1.75;
    color: var(--grayish-blue);
  }
  .news-article:last-of-type p {
    padding-bottom: .25rem;
  }
  .posts {
    padding-block: 4rem;
  }
  .post {
    display: flex;
    align-items: flex-start;
  }
  .post-img {
    max-width: 100%;
    width: 29.5%;
    height: auto;
    padding-bottom: 2rem;
  }
  .post-content {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    flex: 1;
  }
  .post-content h3 {
    font-size: 2rem;
    color: var(--grayish-blue);
    
  }
  .post-content a {
    display: block;
    color: var(--very-dark-blue);
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 700;
    padding-block: 1rem;
  }
}
.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--dark-grayish-blue);
}
.attribution a {
    color: var(--very-dark-blue);
}
